{% extends "base.html" %}

{% block title %}events-management{% endblock title %}

{% block content %}
<div>
    {% comment %}hero section {% endcomment %}
     <div class='hero-bg w-[1500px] h-[70vh] bg-cover mx-auto opacity-70'>
        <div class='text-white flex justify-center flex-col items-center py-5 md:py-32 '>
            <h1 class='text-3xl tracking-wider'>WelCome Our Event Program</h1>
            <p class='text-5xl m-4'>Now, Get Started Our Events</p>
            <div class='space-x-10'>
                <button class='bg-red-200 p-4 text-black font-medium rounded-lg'>Get Started</button>
                <button>Learn More-------</button>
            </div>

        </div>
     </div>
     <section class='bg-green-100 w-[1500px] h-[30vh] mx-auto flex justify-center items-center'>
        <form action="">
            <input type="search" class='p-4 text-black w-[600px]' placeholder='Search by eventName' name="" id=""> 
            <button class='bg-red-300 p-4 rounded-lg'>Search</button>
        </form>
     </section>
    <h1>Hello world</h1>
</div>
{% endblock content %}

